/* Noto Sans KR */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
  padding: 0 100px;
}
.cartList {
  width: 100%;
}
.cartList .list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  margin: 40px 0;
}
.cartList .list .img {
  width: 200px;
  font-size: 0;
  border: 1px solid black;
}
.cartList .list .img img {
  width: 100%;
}

/* item-price 아이템 가격 */
.cartList .list .item-price {
  font-size: 18px;
}
.cartList .list .item-price .price {
}

/* quantity-box 수량 상자 */
.cartList .list .quantity-box {
  display: flex;
  width: 300px;
}
.cartList .list .quantity-box input {
  margin: 0;
  padding: 0;
  outline: none;
  background: #fff;
  border: 2px solid black;
  text-align: center;
  font-size: 25px;
}
.cartList .list .quantity-box input[type="button"] {
  width: 20%;
}
.cartList .list .quantity-box input[type="text"] {
  width: 60%;
}

.cartList .list .itemAmount-price {
  font-size: 18px;
}
.cartList .list .itemAmount-price .am-price {
}

.cartTotal-box {
  width: 100%;
}
.cartTotal-box h2 {
}
.cartTotal-box .totalPrice-items {
  display: flex;
  border: 3px solid blue;
  padding: 30px;
}
.cartTotal-box .totalPrice-items p {
  flex: 1;
  font-size: 20px;
  font-family: bold;
}
.cartTotal-box .totalPrice-items p strong {
}
