h1 {
  border-bottom: 2px solid black;
  margin-bottom: 50px;
  text-align: center;
}

.beverage {
}

.beverage div {
  border: 2px solid crimson;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.btn-box {
  width: 300px;
  margin: 50px auto;
}
.btn-box strong {
}
.btn-box button {
  display: block;
  margin: 10px;
}

.pick-btn {
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  width: 300px;
  height: 20px;
  border: 3px solid dodgerblue;
}
