/* Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* Container */
.container {
    width: 1920px;
    height: 915px;

    background-image: url(../img/location_bg.jpg);
    background-repeat: no-repeat;
    background-position: left top;

    display: flex;
    justify-content: center;
    align-items: center;
}
.container .container-inner {
    position: relative;
    width: 1600px;
    height: 100%;
    /* background-color: teal; */

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contents Left */
.text-slide {
    position: absolute;
    left: 0;
    width: 400px;
    height: 500px;

    overflow: hidden;

    border: 1px solid teal;
}
.text-slide .text-area {
    position: absolute;
    color: #fff;
    /* border: 1px solid teal; */

    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.text-slide .text-area.active {
    opacity: 1;
    visibility: visible;
}

.text-slide .text-area h3,
.text-slide .text-area h1,
.text-slide .text-area ul li,
.text-slide .text-area button {
    transform: translateX(-100%);
}
.text-slide .text-area.active h3,
.text-slide .text-area.active h1,
.text-slide .text-area.active ul li,
.text-slide .text-area.active button {
    transform: translateX(0);
    transition: 0.8s;
}
.text-slide .text-area.active h3 {transition-delay: 0.25s;}
.text-slide .text-area.active h1 {transition-delay: 0.25s;}
.text-slide .text-area.active ul li.location {transition-delay: 0.1s;}
.text-slide .text-area.active ul li.clock {transition-delay: 0.2s;}
.text-slide .text-area.active ul li.tel {transition-delay: 0.3s;}
.text-slide .text-area.active button {transition-delay: 0.4s;}

.text-slide .text-area h3 {
    font-size: 20px;
    font-weight: 400;
    color: gold;
}
.text-slide .text-area h1 {
    font-size: 45px;
    font-weight: 600;
    padding-top: 20px;
}
.text-slide .text-area ul {
    padding-top: 40px;
}
.text-slide .text-area ul li {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #575757;
    padding: 15px 0;

    font-size: 17px;
    font-weight: 300;
    line-height: 15px;
    color: #ccc;

    display: flex;
    /* 화면크기에 따라 자동으로 줄바꿈되게 */
    flex-wrap: nowrap;
    /* border: 1px solid tomato; */
}
.text-slide .text-area ul li img {
    /* border: 1px solid tomato; */
    width: 17px;
    height: 17px;
    margin-right: 20px;
}
.text-slide .text-area ul li span {}
.text-slide .text-area ul .line {
    width: 100%;
    height: 5px;
    color: #EDEDED;
}
.text-slide .text-area button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;

    font-size: 28px;
    font-weight: 500;

    cursor: pointer;
    margin-top: 50px;
}

/* Contents Right */
.slide-area {
    position: absolute;
    right: 0;
    /* border: 2px solid coral; */

    width: 980px;
}
.slide-area .item {}
.slide-area .item img {
    width: 100%;
}

/* JQuery */
.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.slick-dots li {
    flex: 1;
    margin-right: 15px;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    padding-bottom: 12px;
    opacity: 0.3;
    transition: 0.5s;
}
.slick-dots li.slick-active {
    opacity: 1;
}
.slick-dots button {
    display: none;
}
