h1 {
  padding: 50px;
  border-bottom: 5px solid black;
  margin-bottom: 100px;
}

.product-box {
  margin: 50px;

  border: 5px solid teal;
}

.product-box .big-img {
  width: 500px;
  border: 2px solid black;
  margin-bottom: 10px;
}

.product-box .big-img img {
  width: 100%;
}

.product-box .list-img {
  font-size: 0;
}

.product-box .list-img li {
  display: inline-block;
  width: 150px;
  border: 2px solid black;
  margin-right: 10px;
}

.product-box .list-img li.active {
  border: 10px solid black;
}

.product-box .list-img li img {
  width: 100%;
}

.side-img {
  position: fixed;
  right: 20%;
  top: 30%;
}
.side-img div {
  width: 100px;
  border: 2px solid black;
  cursor: pointer;
}
.side-img div img {
  width: 100%;
}
