body {
    height: 100vh;
    background: #222;
}

.container {
    position: relative;

    width: 80%;
    margin: 0 auto;
    padding-top: 10vh;
}

/* btns */
button {
    margin: 0;
    padding: 0;

    position: absolute;
    top: 50%;
    transform: translate(-50%, 0);

    width: 50px;
    height: 50px;

    z-index: 10;

    border: 3px solid #fff;
    border-radius: 50%;

    font-size: 20px;
}

.container .left-btn {
    left: 3vw;
    /* width: 1000px 일 때, 1vw === 10px */
    /* width: 100px 일 때, 1vw === 1px */
}
.container .right-btn {
    right: 3vw;
}

/* 번호 slide */
.container .slider-number {
    font-size: 2.5rem;
    color: #fff;

}

/* slide */
.slider {
    width: 100%; 
}

.slider .slide-item {
    position: relative;
    width: 100%;
    height: 80vh;
    border: 3px solid coral;
    box-sizing: border-box;
}
.slider .slide-item::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.38);
}
.slider .slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .slide-item .text-box {
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 10;

    width: 500px;
    color: #fff;
}
.slider .slide-item .text-box h2, 
.slider .slide-item .text-box p {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.3s;
    transform: translateY(20px);
}
.slider .slide-item .text-box h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}
.slider .slide-item .text-box h2 p {
    line-height: 1.4;
    transition-delay: 0.5s;
}
.slider .slide-item.slick-active h2,
.slider .slide-item.slick-active p {
    opacity: 1;
    transform: translateY(0);
}

.container .pagingNum {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
.container .progress-Back {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 10px;
    background: #eee;
    border-radius: 10px;
}
.container .progress-Back .progress {
    position: relative;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: coral;
    border-radius: 10px;

    transition: 0.2s;
}

/* JQuery */

/* slick-dots 이미지 처리 */
.container .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container .slick-dots li {
    font-size: 0;
    width: 150px;
    /* height: 30px; */
    /* border-radius: 50%; */
    /* background-color: coral; */
    border: 2px solid white;
    width: 200px;
    height: 100px;
    /* margin: 10px; */
    cursor: pointer;
    overflow: hidden;
}
/* customPaging: function (slider, index) 이후, img 가 생겨있는 것을 확인할 수 있다. */
.container .slick-dots li img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    transition: 0.5s;
}
.container .slick-dots li.slick-active {
    border-bottom: 2px solid tomato;
}
.container .slick-dots li.slick-active img {
    transform: scale(1.4);
}

.container .slick-dots li button {
    display: none;
}

/* slick-dots Paging 처리 */
/* .container .slick-dots {
    border: 2px solid dodgerblue;
    display: flex;
    justify-content: center;
}
.container .slick-dots li {
    width: 50px;
    height: 50px;
    background-color: orange;
    margin: 5px;
    font-size: 2rem;
    color: #fff;

    display: none;
}
.container .slick-dots li.slick-active {
    display: block;
}
.container .slick-dots li button {
    display: none;
} */



/* .container .slick-dots {
    text-align: center;
}
.container .slick-dots li {
    color: #fff;
    font-size: 30px;
    display: none;
}
.container .slick-dots li.slick-active {
    display: block;
} */