body {
    height: 100vh;
    background-color: rgb(186, 165, 250);
}

.container {
    position: relative;

    height: 80vh;
    width: 800px;
    margin: 0 auto;
    padding-top: 10vh;
}
/* button */
.container button.left-btn,
.container button.right-btn {
    /* button 기본값 빼주기 */
    background: transparent;
    margin: 0;
    padding: 0;
    /* --- */

    position: absolute;
    top: 50%;
    transform: translate(-50%, 0);

    width: 50px;
    height: 50px;

    z-index: 10;

    border: 3px solid #fff;
    border-radius: 50%;

    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
.left-btn {
    left: -3vw;
}
.right-btn {
    right: -6vw;
}
/* --- */


/* slick-slide */
.container .slider {
    width: 100%;
}
.container .slider .slide-item {
    position: relative;
    width: 100%;
    height: 80vh;
    /* border: 3px solid coral; */
    box-sizing: border-box;
}
.container .slider .slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .slider .slide-item.slick-active:nth-child(odd) img {
    animation: zoomIn 2.2s both;
} 

.container .slider .slide-item.slick-active:nth-child(even) img {
    animation: zoomOut 2.2s both;
} 

@keyframes zoomIn {
    0% {
        transform: scale(1) rotate(0deg);
}   100% {
        transform: scale(1.5) rotate(15deg);
}

}
@keyframes zoomOut {
    0% {
        transform: scale(1.5) rotate(20deg);
}   100% {
        transform: scale(1) rotate(0deg);
}
}



/* JQuery */
.container .slick-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    /* display: flex; */
    height: 5px;
    background-color: #808080;
}
.container .slick-dots li {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: 2s;
    background-color: mediumorchid;
}
.container .slick-dots li.slick-active {
    width: 100%;
    animation: progress 2.5s;
}

.container .slick-dots li button {
    display: none;
}

@keyframes progress {
    0% {
        width: 0;
    } 
    100% {
        width: 100%;
    }
}
